<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.luhuan.luhuanpicker">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".activity.PickerActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.PhotoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.CropActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>